body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #414141;
}

.header, .footer {
  background-color: #E1F4DD;
  border-top: 1rem solid #FF6A5C;
  border-bottom: 1rem solid #FF6A5C;
  padding: 0 1rem;
}

.content {
  padding: 1rem 2rem;
}

a , a:visited {
  color: #056571;
  text-decoration: none;
}

a:hover {
  color: #FF6A5C;
  text-decoration: none;
}

@media(max-width: 600px) {
  .content {
    padding: 0.25rem 1rem;
  }

  .header {
    padding: 0 0.25rem;
  }

  h1 {
    font-size: 1.5em;
  }
}
